version: "3.8"

networks:
  tests-net:
    name: tests-net

x-site-defaults: &site_defaults
  image: mysite:latest
  build:
    context: ..
    dockerfile: dockerfiles/site/Dockerfile.site
  depends_on:
    - selenium-hub
  restart: unless-stopped
  networks:
    - tests-net

x-testpython-defaults: &testpython_defaults
  image: testimagepython:latest
  build:
    context: ..
    dockerfile: dockerfiles/python/DockerfilePython.base

x-testjava-defaults: &testjava_defaults
  image: testimagejava:latest
  build:
    context: ..
    dockerfile: dockerfiles/java/DockerfileJava.base


services:
  redis:
    image: redis:7
    container_name: redis-local
    command: ["redis-server", "--requirepass", "test1234"]
    ports:
      - "6379:6379"
    restart: unless-stopped

  selenium-hub:
    networks:
      - tests-net
    image: selenium/hub:4.11.0
    container_name: selenium-hub
    ports:
      - "4442:4442"
      - "4443:4443"
      - "4444:4444"
    environment:
      - SE_EVENT_BUS_PUBLISH_PORT=4442
      - SE_EVENT_BUS_SUBSCRIBE_PORT=4443

  selenium-node-chrome:
    networks:
      - tests-net
    image: selenium/node-chrome:4.11.0
    container_name: selenium-node-chrome
    shm_size: 2gb
    depends_on:
      - selenium-hub
    environment:
      - SE_VNC_NO_PASSWORD=true 
      - SE_EVENT_BUS_HOST=selenium-hub
      - SE_EVENT_BUS_PUBLISH_PORT=4442
      - SE_EVENT_BUS_SUBSCRIBE_PORT=4443

  site1:
    <<: *site_defaults
    container_name: site1

  site2:
    <<: *site_defaults
    container_name: site2

  site3:
    <<: *site_defaults
    container_name: site3

  site4:
    <<: *site_defaults
    container_name: site4

  site5:
    <<: *site_defaults
    container_name: site5