version: "3.8"


x-site-defaults: &site_defaults
  image: mysite:latest
  build:
    context: ..
    dockerfile: DockerFiles/Dockerfile.site
  depends_on:
    - selenium-hub
  restart: unless-stopped

x-test-defaults: &test_defaults
  image: testimage:latest
  build:
    context: ..
    dockerfile: DockerFiles/Dockerfile.base
  depends_on:
    - selenium-hub
  volumes:
    - ../results:/results
  environment:
    - SE_EVENT_BUS_HOST=selenium-hub
    - SE_EVENT_BUS_PUBLISH_PORT=4442
    - SE_EVENT_BUS_SUBSCRIBE_PORT=4443

services:
  redis:
    image: redis:7
    container_name: redis-local
    command: ["redis-server", "--requirepass", "test1234"]
    ports:
      - "6379:6379"
    restart: unless-stopped

  selenium-hub:
    image: selenium/hub:4.11.0
    container_name: selenium-hub
    ports:
      - "4442:4442"
      - "4443:4443"
      - "4444:4444"
    environment:
      - SE_EVENT_BUS_PUBLISH_PORT=4442
      - SE_EVENT_BUS_SUBSCRIBE_PORT=4443

  selenium-node-chrome:
    image: selenium/node-chrome:4.11.0
    container_name: selenium-node-chrome
    shm_size: 2gb
    depends_on:
      - selenium-hub
    environment:
      - SE_VNC_NO_PASSWORD=true 
      - SE_EVENT_BUS_HOST=selenium-hub
      - SE_EVENT_BUS_PUBLISH_PORT=4442
      - SE_EVENT_BUS_SUBSCRIBE_PORT=4443
    #ports:
    #  - "7900:7900" # VNC доступ (опционально)

  test-node1:
    <<: *test_defaults
    container_name: test-node1
    labels:
      - "stack=Python"

  test-node2:
    <<: *test_defaults
    container_name: test-node2
    labels:
      - "stack=Python"

  test-node3:
    <<: *test_defaults
    container_name: test-node3
    labels:
      - "stack=Java"

  test-node4:
    <<: *test_defaults
    container_name: test-node4
    labels:
      - "stack=Java"

  test-node5:
    <<: *test_defaults
    container_name: test-node5
    labels:
      - "stack=None"


  site1:
    <<: *site_defaults
    container_name: site1
    #ports:
    #  - "8080:80"

  site2:
    <<: *site_defaults
    container_name: site2
    #ports:
    #  - "8081:80"

  site3:
    <<: *site_defaults
    container_name: site3
    #ports:
    #  - "8082:80"

  site4:
    <<: *site_defaults
    container_name: site4
    #ports:
    #  - "8083:80"

  site5:
    <<: *site_defaults
    container_name: site5
    #ports:
    #  - "8084:80"